* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
main {
    position: relative;
}
main > * {
    padding-left: 6rem;
    padding-right: 6rem;
}
header {
    position: absolute;
    top: 0;
    opacity: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#hero {
    background-color: #E9E9E9;
    height: 75vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
#description {
    width: 30%;
    margin-right: 2rem;
}
#description > p {
    color: #787878;
    font-size: 1.25rem;
    line-height: 1.75rem;
}
h1 {
    font-size: 2.5rem;
    padding: 1.5rem 0;
}
#contact {
    padding: 1.2rem 2.5rem;
    color: white;
    background-color: #0DC9C6;
    border: none;
    font-size: 0.8rem;
    margin-top: 2rem;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1px;
}
#logo-placeholder {
    height: 50px;
    width: 50px;
    background-color: red;
    color: white;
}
#signature-placeholder {
    height: 85px;
    width: 250px;
    background-color: red;
    color: white;
}
#about {
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem;
}
#about > p {
    width: 42%;
    text-align: center;
    margin: 2rem 0;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: #787878;
}
#about > h2 {
    font-size: 2rem;
}

nav > ul {
    display: flex;
    gap: 32px;
}
nav > ul > li {
    list-style-type: none;
    font-weight: 600;
    font-size: 0.9rem;
    letter-spacing: 1px;
}
a {
    text-decoration: none;
    color: black;
    padding: 1rem 0;
}
nav > ul > li:first-child > a {
    color: #0DC9C6;
}
